doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p(dir="rtl") בניסוי זה יוצגו לך רשתות, ומטרתך היא לנסות להחליש אותן. המשימה שלך היא להסיר מהרשתות קודקודים, ונובע מכאן שגם הקשתות המחוברות לקודקודים אלו יוסרו מהרשת, ובכך להחליש ולפגוע ברשת.

    p(dir="rtl") בכל תרחיש, תתבקש להסיר מספר מסויים של קודקודים, ותצרך לבחור את הקודקודים שלדעתך הסרתם תפגע בצורה הטובה ביותר.
    
    p(dir="rtl") שים לב שבחלק מהרשתות שיוצגו לך, לקשתות יהיה ערך. ערך זה הוא המשקל של הקשת. המטרה שלך היא להוריד כמה שיותר משקל. כשלא יופיעו ערכים על הקשתות, זה אומר שמשקל כל הקשתות זהה, וככל שתוריד מספר רב יותר של קשתות ככה הפגיעה תהיה טובה יותר.
    
    p(dir="rtl") כדי לבחור קודקוד תצטרך ללחוץ עליו לחיצה ארוכה עד שצבעו יהפוך אדום. אם תרצה לבטל את הבחירה תלחץ עליו לחיצה ארוכה נוספת עד שצבעו יחזור לכחול. שים לב שלחיצה קצרה תבטל את הבחירה של כל הקודקודים שבחרת.
    
    p(dir="rtl") לאחר שתסמן את מספר הקודקודים שנדרש במשימה תוכל ללחוץ 'next' ולהתקדם.
    
    p(dir="rtl") בכל רגע נתון יסומן לך כמה קודקודים נותר לך להסיר. כמו כן יוצג לך למטה כמה הצלחת לפגוע ברשת - ערך גבוה יותר מציין פגיעה חזקה יותר.
    
    
    video(dir="rtl", width='560', controls)
        source(src='/video/tut1.mp4', type='video/mp4')
    
    p(dir="rtl") בהצלחה!
    
    button(onclick="window.location.href='/experiment/net1'") Next

    

