doctype html
html(lang='en')
  head
    title= "Tutorial"
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p(dir="rtl") בניסוי זה יוצגו לך רשתות שונות ומטרתך היא לנסות להחליש אותן. המשימה שלך היא להסיר מהרשתות קודקודים, ונובע מכאן שגם הקשתות המחוברות לקודקודים אלו יוסרו מהרשת, ובכך להחליש ולפגוע ברשת.

    p(dir="rtl") בכל תרחיש, תתבקש להסיר מספר מסויים של קודקודים, ותצטרך לבחור את הקודקודים שלדעתך הסרתם תפגע בצורה הטובה ביותר.
    
    p(dir="rtl") שים לב שבחלק מהרשתות שיוצגו לך, לקשתות יהיה ערך. ערך זה הוא המשקל של הקשת. המטרה שלך היא להוריד כמה שיותר משקל. כשלא יופיעו ערכים על הקשתות, זה אומר שמשקל כל הקשתות זהה, וככל שתוריד מספר רב יותר של קשתות ככה הפגיעה תהיה טובה יותר.
    
    h2(dir="rtl" style="color:SeaGreen") 1. בחירת קודקוד:
    p(dir="rtl") כדי לבחור קודקוד תצטרך ללחוץ עליו לחיצה ארוכה עד שצבעו יהפוך אדום.
    
    video(dir="rtl", width="1000", height="auto", controls)
        source(src='/video/selection.mp4', type='video/mp4')
        
    h2(dir="rtl" style="color:SeaGreen") 2. ביטול בחירה של קודקוד יחיד:
    p(dir="rtl") אם תרצה לבטל בחירה של קודקוד, לחץ עליו לחיצה ארוכה נוספת עד שצבעו יחזור לכחול. 
    
    video(dir="rtl", width="1000", height="auto", controls)
        source(src='/video/removal.mp4', type='video/mp4')
        
    h2(dir="rtl" style="color:SeaGreen") 3. ביטול הבחירה כולה:
    p(dir="rtl") שים לב שלחיצה קצרה תבטל את הבחירה של כל הקודקודים שבחרת עד כה.
    
    video(dir="rtl", width="1000", height="auto", controls)
        source(src='/video/click.mp4', type='video/mp4')
    
    p(dir="rtl") לאחר שתסמן את מספר הקודקודים שנדרש במשימה תוכל ללחוץ 'next' ולהתקדם.
    
    p(dir="rtl") בכל רגע נתון יסומן לך כמה קודקודים נותר לך להסיר. כמו כן יוצג לך למטה כמה הצלחת לפגוע ברשת - ערך גבוה יותר מציין פגיעה חזקה יותר.
    
    

    
    p(dir="rtl") בהצלחה!
    
    form(method="post" action="/experiment/explanation/randfirst")
      input(type="hidden" id="ip" name="ip")
      input(type="submit" class="button" id="nextButton" value="Next")
    
    script.
      function getIP(json) {
        document.getElementById("ip").value = json.ip}
    script(type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP")   
    
    
    // button(class="button" onclick="window.location.href='/experiment/net1'") Next

    

